# 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
page= requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [3]:
soup= BeautifulSoup(page.content)

In [4]:
headers = []
for i in soup.find_all('span',class_="mw-headline"):
    headers.append(i.text)
headers

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [5]:
data = pd.DataFrame(headers)
data

                               0
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# 2) Write a python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame

In [6]:
page= requests.get('https://presidentofindia.nic.in/former-presidents')
page

In [7]:
soup = BeautifulSoup(page.content)

In [8]:
Name = []
tenure = []
for i in soup.find_all('div', class_="desc-sec"):
    Name.append(i.text.split('\n')[1])
    tenure.append(i.text.split('\n')[2])
Name
tenure

['14th President of India',
 '13th President of India',
 '12th President of India',
 '11th President of India',
 '10th President of India',
 '9th  President of India',
 '8th President of India',
 '7th President of India',
 '6th President of India',
 '5th President of India',
 '4th President of India',
 '3rd President of India',
 '2nd President of India',
 '1st President of India']

In [9]:
data = pd.DataFrame({"Name of President":Name, "Tenure":tenure})
data

               Name of President                   Tenure
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

# 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [10]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [11]:
soup = BeautifulSoup(page.content)

In [12]:
team = []
matches = []
points = []
ratings = []

for j in soup.find_all('tr',class_="rankings-block__banner"):
        matches.append(j.text.split('\n')[7])
        points.append(j.text.split('\n')[8])
        ratings.append(j.text.split('\n')[10].replace(' ',''))
        
for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.text.split('\n')[7])
    points.append(i.text.split('\n')[8])
    ratings.append(i.text.split('\n')[9])
    
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)

data = pd.DataFrame({"ODI Teams" : team, "Matches" : matches , "Points": points, "Ratings": ratings})

data[:10]

      ODI Teams Matches Points Ratings
0     Australia      23  2,714     118
1      Pakistan      20  2,316     116
2         India      36  4,081     113
3   New Zealand      27  2,806     104
4       England      24  2,426     101
5  South Africa      19  1,910     101
6    Bangladesh      28  2,661      95
7   Afghanistan      16  1,404      88
8     Sri Lanka      32  2,794      87
9   West Indies      38  2,582      68

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [13]:
page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page
soup = BeautifulSoup(page.content)
soup
player = soup.find('div',class_="rankings-block__banner--player-info")

In [14]:
player = []
team= []
p_ratings = []
for i in soup.find_all('div',class_="rankings-block__banner--player-info"):
    player.append(i.text.split('\n')[1])
    team.append(i.text.split('\n')[4])
    p_ratings.append(i.text.split('\n')[5].replace(" ",""))
batsman = []
Bat_team = []
bat_ratings= []
batsman.append(player[0])
Bat_team.append(team[0])
bat_ratings.append(p_ratings[0])

for j in soup.find_all('td',class_="table-body__cell name"):
    batsman.append(j.text.replace("\n", ""))

for k in soup.find_all('span',class_="table-body__logo-text"):
    Bat_team.append(k.text)

for l in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    bat_ratings.append(l.text)

Player_ranking= pd.DataFrame({"Player":batsman, "Team":Bat_team, "Ratings":bat_ratings})
Player_ranking[:10]

                  Player Team Ratings
0             Babar Azam  PAK     886
1  Rassie van der Dussen   SA     777
2           Fakhar Zaman  PAK     755
3            Imam-ul-Haq  PAK     745
4           Shubman Gill  IND     743
5           Harry Tector  IRE     726
6           David Warner  AUS     726
7        Quinton de Kock   SA     718
8            Virat Kohli  IND     705
9            Steve Smith  AUS     702

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [15]:
baller = []
ball_team= []
ball_ratings = []
ball_ratings.append(p_ratings[1])
baller.append(player[1])
ball_team.append(team[1])
for i in range(10,19):
    ball_team.append(Bat_team[i])
    baller.append(batsman[i])
    ball_ratings.append(bat_ratings[i])
#print(baller, ball_team, ball_ratings)


Player_ranking= pd.DataFrame({"Baller Name":baller, "Team":ball_team, "Ratings":ball_ratings})
Player_ranking

        Baller Name Team Ratings
0    Josh Hazlewood  AUS     705
1    Mitchell Starc  AUS     686
2       Rashid Khan  AFG     682
3    Mohammed Siraj  IND     670
4        Matt Henry   NZ     667
5  Mujeeb Ur Rahman  AFG     661
6       Trent Boult   NZ     660
7        Adam Zampa  AUS     652
8    Shaheen Afridi  PAK     630
9     Kuldeep Yadav  IND     622

# 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [16]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

soup = BeautifulSoup(page.content)

In [17]:
team = []
matches = []
points = []
ratings = []

for j in soup.find_all('tr',class_="rankings-block__banner"):
        matches.append(j.text.split('\n')[7])
        points.append(j.text.split('\n')[8])
        ratings.append(j.text.split('\n')[10].replace(' ',''))
        
for i in soup.find_all('tr',class_="table-body"):
    matches.append(i.text.split('\n')[7])
    points.append(i.text.split('\n')[8])
    ratings.append(i.text.split('\n')[9])
    
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)

data = pd.DataFrame({"ODI Teams" : team, "Matches" : matches , "Points": points, "Ratings": ratings})

data[:10]

      ODI Teams Matches Points Ratings
0     Australia      26  4,290     165
1       England      31  3,875     125
2  South Africa      26  3,098     119
3         India      30  3,039     101
4   New Zealand      28  2,688      96
5   West Indies      29  2,743      95
6    Bangladesh      17  1,284      76
7     Sri Lanka      12    820      68
8      Thailand      13    883      68
9      Pakistan      27  1,678      62

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [18]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [19]:
top_banner = []
soup = BeautifulSoup(page.content)
for i in soup.find_all('div',class_="rankings-block__banner--player-info"):
    top_banner.append(i.text.split('\n'))
print(top_banner)

[['', 'Natalie Sciver-Brunt', '', '', 'ENG', '                            803', '', ''], ['', 'Sophie Ecclestone', '', '', 'ENG', '                            769', '', ''], ['', 'Natalie Sciver-Brunt', '', '', 'ENG', '                            421', '', '']]

In [20]:
top_players= []
for j in soup.find_all('td',class_="table-body__cell name"):
    top_players.append(j.text.replace('\n', ""))

In [21]:
top_team= []
for k in soup.find_all('span',class_="table-body__logo-text"):
    top_team.append(k.text)

In [22]:
top_ratings= []
for l in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    top_ratings.append(l.text)

In [23]:
batsman=[]
bat_team=[]
bat_ratings=[]
batsman.append(top_banner[0][1])
bat_team.append(top_banner[0][4])
bat_ratings.append(top_banner[0][5].replace(" ", ""))

for a in range(0,9):
        batsman.append(top_players[a])
        bat_team.append(top_team[a])
        bat_ratings.append(top_ratings[a])

top_woman_batsman=pd.DataFrame({'Player Name': batsman, 'Team': bat_team, 'Ratings':bat_ratings})
top_woman_batsman

            Player Name Team Ratings
0  Natalie Sciver-Brunt  ENG     803
1   Chamari Athapaththu   SL     758
2           Beth Mooney  AUS     751
3       Laura Wolvaardt   SA     732
4       Smriti Mandhana  IND     708
5          Alyssa Healy  AUS     702
6      Harmanpreet Kaur  IND     694
7          Ellyse Perry  AUS     686
8           Meg Lanning  AUS     682
9       Stafanie Taylor   WI     618

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [24]:
allrounder = []
allro_team= []
allro_ratings = []
allro_ratings.append(top_banner[2][5].replace(" ",""))
allrounder.append(top_banner[2][1])
allro_team.append(top_banner[2][4])

for a in range(18,27):
        allrounder.append(top_players[a])
        allro_team.append(top_team[a])
        allro_ratings.append(top_ratings[a])
#print(allrounder, allro_team, allro_ratings)


Player_ranking= pd.DataFrame({"Player Name":allrounder, "Team":allro_team, "Ratings":allro_ratings})
Player_ranking

            Player Name Team Ratings
0  Natalie Sciver-Brunt  ENG     421
1      Ashleigh Gardner  AUS     389
2       Hayley Matthews   WI     382
3        Marizanne Kapp   SA     349
4          Ellyse Perry  AUS     329
5           Amelia Kerr   NZ     328
6         Deepti Sharma  IND     312
7         Jess Jonassen  AUS     241
8         Sophie Devine   NZ     233
9              Nida Dar  PAK     232

# 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

# i) Headline

In [25]:
page = requests.get('https://www.cnbc.com/world/?region=world')
soup= BeautifulSoup(page.content)

In [26]:
head_lines= []
for i in soup.find_all('a',class_="LatestNews-headline"):
    head_lines.append(i.text)
head_lines

['Palo Alto shares rise on earnings beat, after Friday report concerned investors',
 'Wall Street awaits hotly anticipated Nvidia earnings. What the pros say to do',
 'WeWork plunges another 11% after announcing reverse stock split',
 'The iPhone 15 could get one of the biggest upgrades in years: A new charging port',
 "Coral bleaching event in Florida is 'just the tip of the iceberg,' NOAA says\n",
 'Bitcoin is giving a bearish signal. Here’s what chart analysts say happens next',
 'Earnings show shoppers will spend money for value, favoring two retail stocks',
 'Nvidia, key Powell speech to take center stage next week in midst of August woe ',
 'My HomePod is now a very expensive doorstop',
 '3 trends are dividing restaurant companies into winners and losers',
 'How hurricanes may affect the 2024 Social Security cost-of-living adjustment',
 'Rosenblatt names its top picks to play the ‘age of A.I. gold rush’ ',
 'It may be tough for Apple to outperform from here, says top tech analyst',
 "'Blue Beetle' tries to take down 'Barbie' in a late summer box office showdown",
 "Here's where to find opportunities in dividend stocks",
 "The 'world's cheapest home' is on sale for $1",
 "We are maintaining our position in Estee Lauder after weak guidance — here's why",
 'Top GOP China hawk says White House investment restrictions fall short ',
 'Here are some of the companies saying weight loss drugs could impact their business',
 'Elon Musk says users on X, formerly Twitter, will lose ability to block unwanted followers',
 '4 places to keep your cash as the Federal Reserve weighs a policy shift',
 "Bank of America calls this transportation stock a great turnaround story with 'significant upside'",
 'Stocks making the biggest moves midday: Xpeng, Nvidia, Blue Bird and more',
 'Judge denies Trump request to delay E. Jean Carroll case, January trial likely',
 "We're exiting this energy stock, while adding to two recent positions",
 "Harvard-trained career coach: Successful people share this 'underused' skill",
 ' Investors are jumping back into short-term bond funds as rates rise',
 "Disney seeks damages in DeSantis board's lawsuit over contracts",
 'Citi says this high-flying Brazilian stock can rally another 30% from here',
 'What Wall Street needs to know about UAW negotiations — and what they could cost']

# ii) Time

In [27]:
time=[]
for j in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(j.text)
time

['14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '18 Hours Ago',
 '19 Hours Ago',
 '19 Hours Ago',
 '19 Hours Ago',
 '19 Hours Ago',
 '19 Hours Ago',
 '19 Hours Ago',
 '19 Hours Ago',
 '20 Hours Ago']

In [28]:
links=[]
for k in soup.find_all('a',class_="LatestNews-headline"):
    links.append(k['href'])
links

['https://www.cnbc.com/2023/08/18/palo-alto-networks-panw-earnings-report-q4-2023.html',
 'https://www.cnbc.com/2023/08/18/wall-street-previews-nvidia-earnings-how-the-pros-are-playing-the-stock.html',
 'https://www.cnbc.com/2023/08/18/wework-plunges-another-11percent-after-announcing-1-40-reverse-stock-split.html',
 'https://www.cnbc.com/2023/08/18/iphone-15-usb-c-charging-would-be-biggest-upgrade-in-years.html',
 'https://www.cnbc.com/2023/08/18/noaa-florida-coral-bleaching-event-could-go-global.html',
 'https://www.cnbc.com/2023/08/18/bitcoin-is-giving-a-bearish-signal-heres-what-chart-analysts-say-happens-next.html',
 'https://www.cnbc.com/2023/08/18/retail-earnings-show-shoppers-will-spend-money-for-value-favoring-tjx-costco.html',
 'https://www.cnbc.com/2023/08/18/nvidia-powell-speech-to-take-center-stage-on-wall-street-next-week.html',
 'https://www.cnbc.com/2023/08/18/apple-wont-repair-homepods-according-to-apple-store-employee.html',
 'https://www.cnbc.com/2023/08/18/mcdonalds-chipotle-among-restaurant-earnings-winners-and-losers.html',
 'https://www.cnbc.com/2023/08/18/social-security-cost-of-living-adjustment-hurricanes-a-factor-in-2024.html',
 'https://www.cnbc.com/2023/08/18/rosenblatt-names-its-top-picks-to-play-the-age-of-ai-gold-rush-.html',
 'https://www.cnbc.com/2023/08/18/it-may-be-tough-for-apple-to-outperform-from-here-says-top-tech-analyst.html',
 'https://www.cnbc.com/2023/08/18/barbie-vs-blue-beetle-box-office-showdown.html',
 'https://www.cnbc.com/2023/08/18/heres-where-to-find-opportunities-in-dividend-stocks.html',
 'https://www.cnbc.com/2023/08/18/the-worlds-cheapest-home-is-on-sale-for-one-dollar-in-pontiac-michigan.html',
 'https://www.cnbc.com/2023/08/18/we-are-maintaining-our-position-in-estee-lauder-after-weak-guidance-heres-why.html',
 'https://www.cnbc.com/2023/08/18/top-gop-voice-on-china-threat-says-investment-restrictions-fall-short-.html',
 'https://www.cnbc.com/2023/08/18/here-are-some-of-the-companies-saying-weight-loss-drugs-could-impact-their-business.html',
 'https://www.cnbc.com/2023/08/18/elon-musk-says-x-users-will-be-losing-the-ability-to-block-content-.html',
 'https://www.cnbc.com/2023/08/18/4-best-places-for-cash-as-the-federal-reserve-weighs-a-policy-shift.html',
 'https://www.cnbc.com/2023/08/18/bank-of-america-calls-this-transportation-stock-a-great-turnaround-story-with-significant-upside.html',
 'https://www.cnbc.com/2023/08/18/stocks-making-the-biggest-moves-midday-xpev-nvda-blbd-el.html',
 'https://www.cnbc.com/2023/08/18/judge-denies-trump-request-to-delay-e-jean-carroll-trial-.html',
 'https://www.cnbc.com/2023/08/18/were-exiting-this-energy-stock-while-adding-to-two-positions.html',
 'https://www.cnbc.com/2023/08/18/harvard-trained-career-coach-successful-people-share-underused-skill.html',
 'https://www.cnbc.com/2023/08/18/-investors-are-jumping-back-into-short-term-bond-funds-as-rates-rise.html',
 'https://www.cnbc.com/2023/08/18/disney-seeks-damages-from-desantis-board-for-contract-breach.html',
 'https://www.cnbc.com/2023/08/18/citi-says-this-high-flying-brazilian-stock-can-rally-another-30percent-from-here.html',
 'https://www.cnbc.com/2023/08/18/what-uaw-negotiations-could-cost-gm-ford-and-stellantis.html']

In [29]:
data= pd.DataFrame({'Time': time,'Headlines':head_lines,'Links':links})
data

,Time,Headlines,Links
0,14 Hours Ago,"Palo Alto shares rise on earnings beat, after ...",https://www.cnbc.com/2023/08/18/palo-alto-netw...
1,14 Hours Ago,Wall Street awaits hotly anticipated Nvidia ea...,https://www.cnbc.com/2023/08/18/wall-street-pr...
2,14 Hours Ago,WeWork plunges another 11% after announcing re...,https://www.cnbc.com/2023/08/18/wework-plunges...
3,15 Hours Ago,The iPhone 15 could get one of the biggest upg...,https://www.cnbc.com/2023/08/18/iphone-15-usb-...
4,15 Hours Ago,Coral bleaching event in Florida is 'just the ...,https://www.cnbc.com/2023/08/18/noaa-florida-c...
5,15 Hours Ago,Bitcoin is giving a bearish signal. Here’s wha...,https://www.cnbc.com/2023/08/18/bitcoin-is-giv...
6,15 Hours Ago,Earnings show shoppers will spend money for va...,https://www.cnbc.com/2023/08/18/retail-earning...
7,16 Hours Ago,"Nvidia, key Powell speech to take center stage...",https://www.cnbc.com/2023/08/18/nvidia-powell-...
8,16 Hours Ago,My HomePod is now a very expensive doorstop,https://www.cnbc.com/2023/08/18/apple-wont-rep...
9,16 Hours Ago,3 trends are dividing restaurant companies int...,https://www.cnbc.com/2023/08/18/mcdonalds-chip...
10,16 Hours Ago,How hurricanes may affect the 2024 Social Secu...,https://www.cnbc.com/2023/08/18/social-securit...
11,16 Hours Ago,Rosenblatt names its top picks to play the ‘ag...,https://www.cnbc.com/2023/08/18/rosenblatt-nam...
12,17 Hours Ago,It may be tough for Apple to outperform from h...,https://www.cnbc.com/2023/08/18/it-may-be-toug...
13,17 Hours Ago,'Blue Beetle' tries to take down 'Barbie' in a...,https://www.cnbc.com/2023/08/18/barbie-vs-blue...
14,17 Hours Ago,Here's where to find opportunities in dividend...,https://www.cnbc.com/2023/08/18/heres-where-to...
15,17 Hours Ago,The 'world's cheapest home' is on sale for $1,https://www.cnbc.com/2023/08/18/the-worlds-che...
16,17 Hours Ago,We are maintaining our position in Estee Laude...,https://www.cnbc.com/2023/08/18/we-are-maintai...
17,18 Hours Ago,Top GOP China hawk says White House investment...,https://www.cnbc.com/2023/08/18/top-gop-voice-...
18,18 Hours Ago,Here are some of the companies saying weight l...,https://www.cnbc.com/2023/08/18/here-are-some-...
19,18 Hours Ago,"Elon Musk says users on X, formerly Twitter, w...",https://www.cnbc.com/2023/08/18/elon-musk-says...
20,18 Hours Ago,4 places to keep your cash as the Federal Rese...,https://www.cnbc.com/2023/08/18/4-best-places-...
21,18 Hours Ago,Bank of America calls this transportation stoc...,https://www.cnbc.com/2023/08/18/bank-of-americ...
22,19 Hours Ago,"Stocks making the biggest moves midday: Xpeng,...",https://www.cnbc.com/2023/08/18/stocks-making-...
23,19 Hours Ago,Judge denies Trump request to delay E. Jean Ca...,https://www.cnbc.com/2023/08/18/judge-denies-t...
24,19 Hours Ago,"We're exiting this energy stock, while adding ...",https://www.cnbc.com/2023/08/18/were-exiting-t...
25,19 Hours Ago,Harvard-trained career coach: Successful peopl...,https://www.cnbc.com/2023/08/18/harvard-traine...
26,19 Hours Ago,Investors are jumping back into short-term bo...,https://www.cnbc.com/2023/08/18/-investors-are...
27,19 Hours Ago,Disney seeks damages in DeSantis board's lawsu...,https://www.cnbc.com/2023/08/18/disney-seeks-d...
28,19 Hours Ago,Citi says this high-flying Brazilian stock can...,https://www.cnbc.com/2023/08/18/citi-says-this...
29,20 Hours Ago,What Wall Street needs to know about UAW negot...,https://www.cnbc.com/2023/08/18/what-uaw-negot...

# 6) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles. Scrape below mentioned details and make data frame

# i) Paper Title ii) Authors iii) Published Date iv) Paper URL

In [30]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup = BeautifulSoup(page.content)
title=[]
url=[]
author=[]
publish=[]
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):        
        url.append(i['href'])
        title.append(i.text)

for j in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(j.text)
    
for k in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    publish.append(k.text)

data=pd.DataFrame({"Paper Title": title,"Author Name": author, "Publish Date": publish, "Paper URL": url})
data

,Paper Title,Author Name,Publish Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# 7) Write a python program to scrape mentioned details from dineout.co.inand make data frame

# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL

In [31]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content)

In [32]:
restaurent_name =[]
for rest in soup.find_all('a',class_="restnt-name ellipsis"):
    restaurent_name.append(rest.text)

In [33]:
location = []
for loc in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(loc.text)

In [34]:
cuisine= []
for cus in soup.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(cus.text.split('|')[1])

In [35]:
ratings = []
for rat in soup.find_all('div',class_="restnt-rating rating-4"):
    ratings.append(rat.text)

In [36]:
image_url=[]
for i in soup.find_all('img',class_="no-img"):
    image_url.append(i['data-src'])

In [37]:
data= pd.DataFrame({'Restaurent Name': restaurent_name, 'Cusine':cuisine, 'Location': location, 'Ratings': ratings,'Images': image_url})
data

,Restaurent Name,Cusine,Location,Ratings,Images
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,The Barbeque Times,"North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...